### ignore all the files ###
/*
/**

### add required files ###

# shell
!/zsh/
!/zsh/**

# terminal emulator
!/ghostty/
!/ghostty/**

# version control system
!/git/
!/git/**

# code editor
# !/nvim/
# !/nvim/**

## ssh
!/ssh/
!/ssh/**

# script
!/bin/
!/bin/**

# others
!/README.md
!.gitignore