### ignore all the files ###
/*
/**

### add required files ###

# script
!install.sh

# shell
!/zsh/
!/zsh/**

# terminal emulator
!/ghostty/
!/ghostty/**

# version control system
!/git/
!/git/**

# code editor
!/nvim/
!/nvim/**

## ssh
!/ssh/
!/ssh/**

# fastfetch
!/fastfetch/
!/fastfetch/**

#screenshots
!/img/
!/img/**

# others
!/README.md
!.gitignore
