### ignore all the files ###
/*
/**

### add required files ###

# shell
!/bash/
!/bash/**
!/zsh/
!/zsh/**

# terminal emulator
!/ghostty/
!/ghostty/**

# version control system
!/git/
!/git/**

# code editor
!/nvim/
!/nvim/**

# script
!/bin/
!/bin/**
# others
!/README.md
!.gitignore